*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    /* align-content:center; */
    flex-direction: column;
    background-image: url(../Imagenes/fondo2_page.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


header{
    width: 100vw;
    height: 20%;
}

.header{
    background: rgba(255, 255, 0, 0.86);
    display: flex;
    width: 100vw;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 15%;
    font-size: medium;
}

footer{
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 10%;
    bottom: 0; /* Alinea el footer en la parte inferior */
    width: 100%; /* Ancho del footer igual al 100% del contenedor padre */
    position: relative;

}

section{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content: center;
    align-items: center;

}



.logo{
    margin-left: 1px;
    display: flex;
    width: auto;
    max-height: 95%;
}

.menu {
    display: flex;
    background-color: black;
    height: 85%;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}


/* Estilos para la lista de elementos del menú */
.menu ul {
    list-style: none; /* Quitamos los puntos de la lista */
    display: flex; /* Utilizamos flexbox para alinear los elementos horizontalmente */
    padding: 0 20px;
}

.menu li {
    display: flex;
    padding: 0 20px; /* Espaciado vertical dentro de cada elemento */
    list-style: none;
    align-items: center; /* Alinea verticalmente el contenido del elemento */
    line-height: 100px; /* Centra verticalmente el contenido del elemento */
}

.menu a {
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado en los enlaces */
}

.menu a:hover { color: yellow;} /* Cambia el color del texto al pasar el cursor por encima */

.fix{
    clear: both; /* Limpia los floats */
}

.forms {
    height: 60%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.formulario {
    display: flex;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 0.4rem;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.texto_contacto{
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    margin: 5% 0;
}

.form__input{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
    width: 80%;
    height: 9%;
    outline: none;
    border: solid 1.5px lightgray;
    border-radius: 3px;
    margin: 1% 0;
}

.form__input--msje{
    resize: none;
    width: 80%;
    height: 20%;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;

}

.form_boton{
    background-color: lightgray;
    font-size: large;
    color: white;
    border: none;
    font-weight: 350;
    border-radius: 3px;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center; 
    text-align: center;
    width: 80%;
    height: 10%;
    margin-top: 2.5%;

}



.envios_content{
    display: flex;
    height: 70%;
    align-content: center;
    justify-content: center;
    place-items: center;
}

.envios{
    border: 10px solid black;
    height: 100%;
}

.nosotros{ 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 60%;
    border:  solid 2px red
}

.nosotros h2{
    display: flex;
    font-size: x-large;
    padding: 20px;
    border:  solid 2px red;
}

.productos{ 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 80%;
    border:  solid 2px red
}

.productos h2{
    display: flex;
    font-size: x-large;
    padding: 20px;
    border:  solid 2px red;
}


#verzonas{
    text-decoration: none;
    padding-left: 5px;
}

footer p{
    color: white;
}